body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b2cecf;
}
.shadow {
  box-shadow: 10px 10px 16px #000000 !important;
  margin-bottom: 1rem;
}
.shadow1 {
  box-shadow: 0px 10px 10px 3px #000000 !important;
  margin-bottom: 1rem;
}
.alert-warning {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn-primary {
  background-color: #273e61;
  color: white;
}
.btn-primary:hover {
  background-color: #667ea2;
  color: black;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
  background-color: #667ea2;
}
.btn-lg {
  width: 98%;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.course {
  border: 1px solid #404040;
}
.course img {
  width: 100%;
  max-width: 400px;
}
.course-info {
  padding: 1rem;
}
.img-large {
  max-width: 50rem;
  max-height: 50rem;
}
figure {
  margin: 0px;
}

.links {
  text-decoration: none;
}
main {
  flex: 1;
}
.title {
  text-decoration: none;
  color: black;
}
.title:hover {
  color: #404040;
}

.navbar-brand {
  margin: 0px;
  padding: 0;
}
.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
}
.rating span {
  color: goldenrod;
}
.rating-inline {
  display: inline-block;
}
span.rating-text {
  color: black;
}
.signupscreen {
  background-image: url(./assests/backgroundsign.jpg);
}
span.rating-inline {
  display: inline-block;
}
span.mr-4 {
  margin-right: 4px;
}
.navbar-collapse {
  flex-grow: 0;
}
.search-box {
  flex-grow: 0.5;
  margin-left: 4rem;
}
.navbar-light .navbar-nav .nav-link {
  color: #f3e7e7f7;
}
.bg-light,
.bg-black {
  background-color: #395783 !important;
}
.btn-outline-success {
  color: white;
  border-color: white;
}
.btn-outline-success:active {
  color: white;
  border-color: white;
}
.get-started {
  max-height: max-content;
  max-width: 1050px;
  position: relative;
  top: 10rem;
  margin-bottom: 25rem;
  -moz-box-shadow: 10px 10px 16px #000000;
  -webkit-box-shadow: 10px 10px 16px #000000;
  box-shadow: 10px 10px 16px #000000;
  line-height: 2;
}
.get-started Card {
  position: absolute;
  background-color: #395783;
}
.get-started img {
  width: 100%;
  height: 80%;
  /* margin-left: -1rem; */
  position: relative;
  /* bottom: -5rem; */
  top: 3rem;
  left: -2rem;
}
.get-started Button {
  position: relative;
  margin: 3rem 5rem 3rem 5rem;
  background-color: rgb(207, 146, 56);
  padding: 0.5rem;
  text-decoration-line: none;
}
.gettext .btn-primary a {
  text-decoration: none;
  color: black;
}
.gettext .btn-primary:hover {
  background-color: blanchedalmond;
}
.gettext {
  margin-left: 0;
  background-color: #395783;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}
.teachsignupbutton.nav-link {
  text-decoration: none;
  background-color: #990f0f;
  color: #8e1e1e;
  margin-bottom: 1px;
  border-top: 1px solid #d52f2f;
  border-right: 1px solid #631e1e;
  border-bottom: 1px solid #611717;
  border-left: 1px solid #7b1919;
}
.teachsignupbar {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(37, 95, 153)
  );
  margin-top: 100px;
}
.g-btn {
  background-color: #41464b !important;
  color: white !important;
  width: 90% !important;
  margin: auto;
}
.navbars {
  max-height: 70px !important;
  box-shadow: 1px 0 5px rgb(0 0 0 / 80%);
}
.navbar {
  padding: 0;
}
.sidenavbar {
  display: flex;
  float: right;
  margin-top: -2rem;
  margin-right: -8rem;
  overflow-y: auto;
  flex-direction: column;
  height: 100vh !important;
  width: 300px;
  box-sizing: border-box;
  align-items: center;
  background-color: #395783;
  z-index: 100;
}
.profilepic {
  border-radius: 100%;
  height: 10rem;
  width: 17rem;
  border: 3px solid rgba(0, 0, 0, 0.249);
}
.profilediv {
  align-items: center;
  justify-content: center;
  margin: 20%;
}

.buttonsidebar {
  width: 50%;
  margin: auto;
}
.sidebarcolumn .row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.thumbnail-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #273e61;
  color: white;
  width: 70%;
  margin: auto;
}
.inputoutlines {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000000;
  margin: auto;
  width: 70%;
}
.inputoutlines:focus {
  border-bottom: 5px solid #000000;
  box-shadow: none;
}
.newcourse {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
  min-width: 29%;
}

.card {
  background-color: #b2cecf;
}

.btn-danger {
  background-color: #611717;
}
.uploadbutton {
  float: right;
  clear: left;
  margin-top: -4rem;
  margin-right: 6rem;
}

.text-start {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.teacherdashboard {
  margin-top: 6rem !important;
  min-width: 100vh !important;
}
.addbutton {
  width: 25%;
  margin-top: 1rem;
  margin-left: 3.5rem;
}

.marginsetapp {
  margin: 2rem !important;
  justify-content: center;
  align-items: center;
  margin-top: 5rem !important;
}
.container {
  min-width: 90%;
}
.container-small {
  width: 75%;
  min-width: 75%;
}
.w-80 {
  width: 80%;
  align-items: center;
  margin: auto;
}
.coursescreendiv .list-group-item {
  border: none;
}
.sections ol li iframe {
  display: none;
}

.sections ol li:first-child iframe {
  display: flex !important;
}
.w-40 {
  max-width: 40% !important;
}
@media screen and (max-width: 600px) {
  .w-40 {
    max-width: 90% !important;
  }
}
@media screen and (max-width: 600px) {
  .w-40 {
    max-width: 90% !important;
  }
  .sidenavbar {
    max-width: 100px !important;
  }
}
.w-30 {
  max-width: 30% !important;
}
.footer {
  display: flex;
  bottom: 0px;
  margin-top: 30px;
  height: 200px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.heightall {
  height: 100vh;
}
.marginbottom {
  margin-bottom: 10rem !important;
}
.thumbnail {
  height: 100px;
  width: 100px;
}
.getStartedphoto {
}
.thumbnailupload {
  visibility: hidden;
  margin: auto;
  margin-top: 3rem;
}
.videospacecard {
  height: 30rem;
}
.videospace {
  height: 100%;
}
.searchbutton {
  margin-left: 0 !important;
}
.imgcoursescreen {
  width: 100%;
  height: 100%;
  margin-top: 1px !important;
}
.imagewidth {
  width: 100% !important;
  height: 15rem !important;
}
